# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/

# VSCode settings
.vscode/

# PyCharm settings
.idea/

# Environment variables
.env

# Django migrations
**/migrations/*.py
!**/migrations/__init__.py 
